# Build
build/
DerivedData/

# User-specific files
*.xcuserstate
*.xcuserdata/
*.xcworkspace
project.xcworkspace/xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Xcode Playgrounds
timeline.xctimeline
playground.xcworkspace

# Media files
*.mp3
*.wav
*.aiff
*.mp4
*.mov
